username,password,UID,real name
rachel,ohgh1Cho,1000,Rachel Green
monica,Jaetunu1,1001,Monica Geller
phoebe,ieGae2Pi,1002,Phoebe Buffay
joey,tie4Quoo,1003,Joey Tribbiani
chandler,Xeuxu7oo,1004,Chandler Bing
ross,Hier4bei,1005,Ross Geller